
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{    
    height: 100vh;
    width: 100vw;
    background-image: url("/imagenes/anubis-dios-egiptio.jpg");
    background-repeat:no-repeat;
    background-size: cover;

}

header{
   
    font-family: "Pirata One", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: gold;
    height: 10%;
    width: 100%;
}


.conteiner{    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80%;
    width: 100%;
}

.encriptar{
display: flex;
width: 100%;
justify-content: space-around;
margin: 5px;
align-items: center;

}

h2{
    color: aqua;
    font-family: "Pirata One", system-ui;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    position: absolute;
    top: 15%;
}   

.texto, .mensaje{
    
    padding: 10px;    
    background: transparent;
    color: gold;
    font-size: 150%;
    font-weight: bold;
    border-color: gold;
    resize: none;
    position: relative;
    top: -35%;

}

.terminos{
    display: flex;
    margin-block: 41%  ;
    padding: 2%;
    color: aquamarine;
    position: absolute;
    top: -1%;
    right: 39%;
    font-size: 180%;
    font-weight: bold;
}


.botones{
    margin: 10%;
}

.btn-encriptar {
    width: 6%;
    height: 4%;
    font-size: 100%;
    background: transparent;
    color: gold;
    position: absolute;
    top: 39%;
    left: 17%;
    border-radius: 20%;
    box-shadow: 5% black;
}

.btn-desencriptar{
    width: 6%;
    height: 4%;
    font-size: 100%;
    background: transparent;
    color: gold;
    position: absolute;
    top: 39%;
    right: 16%;
    border-radius: 20%;
    font-weight: 400;
    box-shadow: 5% black;
}

.btn-copiar{
    width: 8%;
    height: 5%;
    font-size: 100%;
    background: transparent;
    color:aqua;
    position: absolute;
    top: 39%;
    border-radius: 20%;
    font-weight: 400;
    box-shadow: 5% black;
}

@media screen and (min-width: 280px )and (max-width: 600px) {
    .btn-copiar{

    }
}


